In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./stations.csv')
df.head()

,Unnamed: 0,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,City,State,road_distance,river_distance,industry_distance,temperature_2m,relative_humidity_2m,windspeed_10m
0,0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,Amaravati,Andhra Pradesh,192.663409,928.292723,8084.438724,25.41,81.58,2.21
1,1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,Amaravati,Andhra Pradesh,192.663409,928.292723,8084.438724,23.67,77.56,2.88
2,2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,Amaravati,Andhra Pradesh,192.663409,928.292723,8084.438724,22.67,75.27,2.78
3,3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,Amaravati,Andhra Pradesh,192.663409,928.292723,8084.438724,22.87,76.57,2.50
4,4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,Amaravati,Andhra Pradesh,192.663409,928.292723,8084.438724,23.24,77.38,2.47